<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <springProperty name="LOGS" source="logging.file.path" defaultValue="logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %green(%highlight(%-5level)) [%blue(%t)] %yellow(%logger{36}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="APPFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/logger-SPRING.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/logger-SPRING-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread]
                [%logger:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="WEBFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/logger-WEB.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/logger-WEB-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5level %t %logger{36}: %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="DBFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/logger-DB.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/logger-DB-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5level %t %logger{36}: %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="KAFKAFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/logger-KAFKA.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/logger-KAFKA-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5level %t %logger{36}: %msg%n%throwable</pattern>
        </encoder>
    </appender>



    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="APPFile" />
    </root>


    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="WEBFile" />
        <!--        <appender-ref ref="Console" />-->
    </logger>


    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="DBFile" />
        <!--        <appender-ref ref="Console" />-->
    </logger>


    <logger name="org.springframework.kafka" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.springframework.kafka" level="info" additivity="false">
        <appender-ref ref="KAFKAFile" />
    </logger>







</configuration>
